body {
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.row 
{
  width: 100%;
  margin-top: 80px;
}



#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-brand h1 {
  font-family: sans-serif;
  color: black;
  font-size:1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-brand button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a: hover {
  background: white;
}

section {
    background-color: gray;
    display: block;
    margin-left: 20px;
}

section>h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

section>p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* For Medium Devices Only */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/* For Small Devices Only */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* For Extra Small Devices Only */
@media (max-width: 767px) {
  
}
